@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
   background-color: #badaf6;
   color: black;
}

/* .product-oderByCate .swiper-container {
   display: flex !important;
   flex-direction: column !important;
} */
